@font-face
{
    font-family: zero; src: url(fonts/Induction.otf);

}
html
{
    font-family: zero;
    background-color: black;
    color: red;
}
.title_head
{
    font-size: 9px;
    border-style:inset;
    border-color: white;
    width: 450px;
    height: fit-content;
    
    border: 6px solid;
    
    color: teal;
    text-align:center;
    
}
.head_border
{
    font-family: zero;
    border-style:double;
    text-align: center;
}
.home
{
    border-style:inset;
    text-align: center;
    width: 50;
    height: 50;
    margin: 30px;
    padding: 30px;
    border-color: aliceblue;
}